/* web-resources.css — versión 1.0.0 */
/* -------------- Variables -------------- */
:root{
  /* ----- Global Fonts ----- */
  --global-font1: sans-serif;
  --global-font2: 'Arial Narrow';
  --global-font3: 'Courier New', Courier, monospace;
  --global-font4: 'Times New Roman', Times, serif;
  --global-font5: cursive;

  /* ----- Global Colors ----- */
  /* Black */
  --global-black1: #0f090b;
  --global-black2: #1c1c1c;
  --global-black3: #0f0f0f;

  /* Brown */
  --global-brown1: #362828;
  --global-brown2: #63514f;
  --global-brown3: #8b7069;
  --global-brown4: #af9284;
  --global-brown5: #6e4829;
  --global-brown6: #8f6f56;
  --global-brown7: #c5c0a9;
  --global-brown8: #aa895f;
  --global-brown9: #e0d8cc;
  --global-brown10: #f7f2ef;
  --global-brown11: #e1ddd2;
  --global-brown12: #bfbbaf;

  /* Violet */
  --global-violet1: #391b49;
  --global-violet2: #4c1a57;
  --global-violet3: #1e202c;
  --global-violet4: #60519b;
  --global-violet5: #080121;
  --global-violet6: #120239;
  --global-violet7: #260656;
  --global-violet8: #4a1985;

  /* Pink */
  --global-pink1: #795690;
  --global-pink2: #9670c7;
  --global-pink3: #c29ce5;
  --global-pink4: #ce9bce;
  --global-pink5: #9d81b3;
  --global-pink6: #746085;
  --global-pink7: #483a52;
  --global-pink8: #302031;
  --global-pink9: #bab0d4;
  --global-pink10: #a540ca;
  --global-pink11: #c0aeb1;
  
  /* Green */
  --global-green1: #203031;
  --global-green2: #3a5152;
  --global-green3: #608385;
  --global-green4: #81b1b3;
  --global-green5: #4d6530;
  --global-green6: #555a54;

  /* Celest */
  --global-celest1: #00a8aa;

  /* Yellow */
  --global-yellow1: #f0f600;

  /* Blue */
  --global-blue1: #364649;
  --global-blue2: #708f96;
  --global-blue3: #31323e;
  --global-blue4: #bfc0d1;
  --global-blue5: #98bfd0;
  --global-blue6: #78acc1;
  --global-blue7: #61678b;
  --global-blue8: #8488b5;
  --global-blue9: #bcb9d8;
  --global-blue10: #dedeea;
  --global-blue11: #99bec6;

  /* White */
  --global-white1: #f4f4f4;
  --global-white2: #ebe9e8;

  /* Grey */
  --global-grey1: #dcdcdc;
  --global-grey2: #bfbfbf;
  --global-grey3: #9b9b9b;
  --global-grey4: #7a7a7a;
  --global-grey5: #5a5a5a;
  --global-grey6: #3c3c3c;
  --global-grey7: #757a7b;

  /* ----- Global Radius ----- */
  /* Radius */
  --global-radius: 8px;

  /* ----- Global Gap ----- */
  /* Gap */
  --global-gap: 1rem;

  /* ----- Global Shadow ----- */
  /* Shadow */
  --global-shadow: 0 6px 18px rgba(17,17,17,0.06);

  /* ----- Global Transition ----- */
  /* Transition */
  --global-transition: 0.3s ease;

}

