/* web-resources.css — versión 1.0.0 */
/* -------------- Variables -------------- */
:root{
  /* ----- Global Fonts ----- */
  --global-font1: sans-serif;
  --global-font2: 'Arial Narrow';
  --global-font3: 'Courier New', Courier, monospace;
  --global-font4: 'Times New Roman', Times, serif;
  --global-font5: cursive;

  /* ----- Global Colors ----- */
  /* Black */
  --global-black1: #0f090b;
  --global-black2: #1c1c1c;
  --global-black3: #0f0f0f;

  /* Brown */
  --global-brown1: #362828;
  --global-brown2: #63514f;
  --global-brown3: #8b7069;
  --global-brown4: #af9284;
  --global-brown5: #6e4829;
  --global-brown6: #8f6f56;
  --global-brown7: #c5c0a9;
  --global-brown8: #aa895f;
  --global-brown9: #e0d8cc;
  --global-brown10: #f7f2ef;
  --global-brown11: #e1ddd2;
  --global-brown12: #bfbbaf;

  /* Violet */
  --global-violet1: #391b49;
  --global-violet2: #4c1a57;
  --global-violet3: #1e202c;
  --global-violet4: #60519b;
  --global-violet5: #080121;
  --global-violet6: #120239;
  --global-violet7: #260656;
  --global-violet8: #4a1985;

  /* Pink */
  --global-pink1: #795690;
  --global-pink2: #9670c7;
  --global-pink3: #c29ce5;
  --global-pink4: #ce9bce;
  --global-pink5: #9d81b3;
  --global-pink6: #746085;
  --global-pink7: #483a52;
  --global-pink8: #302031;
  --global-pink9: #bab0d4;
  --global-pink10: #a540ca;
  --global-pink11: #c0aeb1;
  
  /* Green */
  --global-green1: #203031;
  --global-green2: #3a5152;
  --global-green3: #608385;
  --global-green4: #81b1b3;
  --global-green5: #4d6530;
  --global-green6: #555a54;

  /* Celest */
  --global-celest1: #00a8aa;

  /* Yellow */
  --global-yellow1: #f0f600;

  /* Blue */
  --global-blue1: #364649;
  --global-blue2: #708f96;
  --global-blue3: #31323e;
  --global-blue4: #bfc0d1;
  --global-blue5: #98bfd0;
  --global-blue6: #78acc1;
  --global-blue7: #61678b;
  --global-blue8: #8488b5;
  --global-blue9: #bcb9d8;
  --global-blue10: #dedeea;
  --global-blue11: #99bec6;
  --global-blue12: #008cff;

  /* White */
  --global-white1: #f4f4f4;
  --global-white2: #ebe9e8;

  /* Grey */
  --global-grey1: #dcdcdc;
  --global-grey2: #bfbfbf;
  --global-grey3: #9b9b9b;
  --global-grey4: #7a7a7a;
  --global-grey5: #5a5a5a;
  --global-grey6: #3c3c3c;
  --global-grey7: #757a7b;

  /* ----- Global Radius ----- */
  /* Radius */
  --global-radius: 8px;

  /* ----- Global Gap ----- */
  /* Gap */
  --global-gap: 1rem;

  /* ----- Global Shadow ----- */
  /* Shadow */
  --global-shadow: 0 6px 18px rgba(17,17,17,0.06);

  /* ----- Global Transition ----- */
  /* Transition */
  --global-transition: 0.3s ease;
}


  /* ----- Predefined Styles ----- */
  .docs-containers h2 {
    margin-bottom: 10px;
  }
  /* Search Bar */
  .search-container {
    z-index: -99999;  
  }
  .search-container input {
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
  }
  .search-container i {
    transform: translateX(-30px);
    color: var(--global-blue6);
  }

/* Button with light */
.boton-con-luz button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--global-white1);
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid var(--global-grey3);
  transition: var(--global-transition);
  user-select: none;
}
.boton-con-luz button:hover, .boton-con-luz button:focus {
  color: var(--global-white2);
  background: var(--global-blue12);
  border: 1px solid var(--global-blue12);
  text-shadow: 0 0 5px var(--global-white1), 0 0 10px var(--global-white1), 0 0 20px var(--global-white1);
  box-shadow: 0 0 5px var(--global-blue12), 0 0 20px var(--global-blue12), 0 0 50px var(--global-blue12), 0 0 100px var(--global-blue12);
}

/* Boton gradiente animado */
.boton-gradiente-animado button {
  background: var(--global-black1);
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: var(--global-white1);
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
.boton-gradiente-animado button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--global-violet6), var(--global-pink3), var(--global-violet4), var(--global-pink3),
    var(--global-violet6), var(--global-pink3), var(--global-violet4), var(--global-pink3)
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Hover Effects */
.hover-effects .wrapper {
  display: flex;
  gap: 15px;
}
.hover-effects .wrapper .card {
  width: 150px;
  height: 100px;
  border-radius: 7px;
  background: var(--global-pink3);
  cursor: pointer;
 transition: var(--global-transition);
}
.hover-effects .wrapper:hover>:not(:hover) {
  filter: blur(5px);
  opacity: 0.5;
}

/* Spinner */
.spinner-container .spinner {
  border: 4px solid rgba(204, 203, 203, 0.397);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* Mask radial image */
.mask-radial-container .img-container img {
  width: 100%;
  mask-image: radial-gradient(circle, var(--global-black1), transparent);
  -webkit-mask-image: radial-gradient(circle, var(--global-black1), transparent);
}

/* Mask linear image */
.mask-linear-container .img-container img {
  width: 100%;
  mask-image: linear-gradient(var(--global-black1), transparent);
  -webkit-mask-image: linear-gradient(var(--global-black1), transparent);
}


/* Glass efect */
.glass-effect-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass-back-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}
.glass-effect {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(8px);
  padding: 20px 30px;
  box-shadow: 0 0 30px rgba(228, 228, 237, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.18);
}
.glass-effect ul {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.glass-effect ul li {
  list-style: none;
  font-size: 1.2rem;
  font-family: var(--global-font5);
}
.glass-effect ul li a {
  color: var(--global-blue10);
  text-decoration: none;
  transition: var(--global-transition);
}
.glass-effect ul li a:hover {
  color: var(--global-blue11);
}
@media (max-width: 600px) {
  .glass-effect ul {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

